<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <!-- identity impersonate: muss für authentication-mode windows und windowsConfirm auf true gesetzt sein. -->
    <identity impersonate="false" />
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
</configuration>